In [27]:
#Identify the information has been loaded correctly
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
print(df.head())

#Combine the data
school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
merge_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [28]:
count_unique_values = merge_df["School ID"].nunique()
print("Total Number of Schools:", count_unique_values)

Total Number of Schools: 15

In [29]:
count_unique_values = merge_df["Student ID"].nunique()
print("Total Number of Students:", count_unique_values)

Total Number of Students: 39170

In [31]:
unique_values = merge_df["budget"].unique()
unique_sum = unique_values.sum()
print("Total Budget:", unique_sum)

Total Budhet: 24649428

In [33]:
count_unique_values = merge_df["Student ID"].nunique()
average_math = merge_df["math_score"].sum()/count_unique_values
print("Average Math Score:", average_math)

Average Math Score: 78.98537145774827

In [34]:
count_unique_values = merge_df["Student ID"].nunique()
average_reading = merge_df["reading_score"].sum()/count_unique_values
print("Average Reading Score:", average_reading)

Average Reading Score: 81.87784018381414

In [36]:
count_unique_values = merge_df["Student ID"].nunique()
passing_math_count = merge_df[(merge_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(count_unique_values) *100
print("Percentage of Students Passing Math", passing_math_percentage)

Percentage of Students Passing Math 74.9808526933878

In [49]:
count_unique_values = merge_df["Student ID"].nunique()
passing_reading_count = merge_df[(merge_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(count_unique_values) *100
print("Percentage of Students Passing Reading", passing_reading_percentage)

Percentage of Students Passing Reading 85.80546336482001

In [42]:
count_unique_values = merge_df["Student ID"].nunique()
passing_math_reading_count = merge_df[(merge_df["reading_score"] >= 70) & (merge_df["math_score"]>= 70)].count()["student_name"]
passing_math_reading_percentage = passing_math_reading_count / float(count_unique_values) *100
print("Percentage of Students Passing Reading & Math", passing_math_reading_percentage)

Percentage of Students Passing Reading & Math 65.17232575950983

In [50]:
import pandas as pd

data = pd.Series(["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])
row2 = pd.Series([15, 39170, 24649428, 78.985371, 81.877840, 74.980852, 85.805463, 65.172325])

district_summary = pd.DataFrame({"Row1":row1, "Row2":row2})
district_summary2 = district_summary.T
district_summary2.head()

,0,1,2,3,4,5,6,7
Row1,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Row2,15.0,39170.0,24649428.0,78.985371,81.87784,74.980852,85.805463,65.172325

In [20]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

print("School Names and Their Types:")
print(school_names_and_types)

School Names and Their Types:
              school_name      type
0       Huang High School  District
1    Figueroa High School  District
2     Shelton High School   Charter
3   Hernandez High School  District
4     Griffin High School   Charter
5      Wilson High School   Charter
6     Cabrera High School   Charter
7      Bailey High School  District
8      Holden High School   Charter
9        Pena High School   Charter
10     Wright High School   Charter
11  Rodriguez High School  District
12    Johnson High School  District
13       Ford High School  District
14     Thomas High School   Charter

In [14]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

print("Number of students per school:")
print(school_student_counts)

Number of students per school:
school_name
Bailey High School       4799
Cabrera High School      1834
Figueroa High School     2886
Ford High School         2676
Griffin High School      1449
Hernandez High School    4501
Holden High School        424
Huang High School        2858
Johnson High School      4618
Pena High School          955
Rodriguez High School    3902
Shelton High School      1738
Thomas High School       1619
Wilson High School       2248
Wright High School       1783
Name: student_name, dtype: int64

In [72]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_total_budgets = merge_df.groupby('school_name')['budget'].first()

school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

budget_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'Total Budget': school_total_budgets.values,
    'Budget per Capita': school_budget_per_capita.values
})

print(budget_summary)

              School Name  Total Budget  Budget per Capita
0      Bailey High School       3124928              628.0
1     Cabrera High School       1081356              582.0
2    Figueroa High School       1884411              639.0
3        Ford High School       1763916              644.0
4     Griffin High School        917500              625.0
5   Hernandez High School       3022020              652.0
6      Holden High School        248087              581.0
7       Huang High School       1910635              655.0
8     Johnson High School       3094650              650.0
9        Pena High School        585858              609.0
10  Rodriguez High School       2547363              637.0
11    Shelton High School       1056600              600.0
12     Thomas High School       1043130              638.0
13     Wilson High School       1319574              578.0
14     Wright High School       1049400              583.0

In [19]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()

print("Average Math Scores per School:")
print(average_math_scores)

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()

print("Average Reading Scores per School:")
print(average_reading_scores)

Average Math Scores per School:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
Average Reading Scores per School:
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [23]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

print("Passing Math Percentage per School:")
print(passing_math_percentage_ps)

passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

print("Passing Reading Percentage per School:")
print(passing_reading_percentage_ps)

Passing Math Percentage per School:
school_name
Bailey High School       69.139404
Cabrera High School      95.365322
Figueroa High School     67.428967
Ford High School         69.917788
Griffin High School      94.616977
Hernandez High School    68.740280
Holden High School       93.160377
Huang High School        67.039888
Johnson High School      68.103075
Pena High School         95.287958
Rodriguez High School    68.016402
Shelton High School      95.109321
Thomas High School       94.193947
Wilson High School       95.329181
Wright High School       94.223219
Name: student_name, dtype: float64
Passing Reading Percentage per School:
school_name
Bailey High School       84.955199
Cabrera High School      98.309706
Figueroa High School     82.501733
Ford High School         81.165919
Griffin High School      98.412698
Hernandez High School    83.270384
Holden High School       96.933962
Huang High School        82.995101
Johnson High School      83.737549
Pena High School         96.649215
Rodriguez High School    82.214249
Shelton High School      97.123130
Thomas High School       98.270537
Wilson High School       98.042705
Wright High School       97.532249
Name: student_name, dtype: float64

In [27]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

print("Number Passing Math & Reading per School:")
print(passing_mr_count_ps)

print("Passing Math & Reading Percentage per School:")
print(passing_mr_percentage_ps)

Number Passing Math & Reading per School:
school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64
Passing Math & Reading Percentage per School:
school_name
Bailey High School       56.657637
Cabrera High School      92.529989
Figueroa High School     54.365904
Ford High School         55.568012
Griffin High School      91.787440
Hernandez High School    55.121084
Holden High School       89.858491
Huang High School        54.618614
Johnson High School      55.197055
Pena High School         91.204188
Rodriguez High School    54.305484
Shelton High School      91.081703
Thomas High School       91.846819
Wilson High School       91.992883
Wright High School       91.194616
Name: student_name, dtype: float64

In [38]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

print(per_school_summary)
per_school_summary.head()

              School Name School Type Total Budget Budget per Student  \
0      Bailey High School    District    [3124928]            [628.0]
1     Cabrera High School    District    [1081356]            [582.0]
2    Figueroa High School     Charter    [1884411]            [639.0]
3        Ford High School    District    [1763916]            [644.0]
4     Griffin High School     Charter     [917500]            [625.0]
5   Hernandez High School     Charter    [3022020]            [652.0]
6      Holden High School     Charter     [248087]            [581.0]
7       Huang High School    District    [1910635]            [655.0]
8     Johnson High School     Charter    [3094650]            [650.0]
9        Pena High School     Charter     [585858]            [609.0]
10  Rodriguez High School     Charter    [2547363]            [637.0]
11    Shelton High School    District    [1056600]            [600.0]
12     Thomas High School    District    [1043130]            [638.0]
13     Wilson High School    District    [1319574]            [578.0]
14     Wright High School     Charter    [1049400]            [583.0]

    Average Math Score  Average Reading Score  % Passing Math  \
0            77.048432              81.033963       69.139404
1            83.061895              83.975780       95.365322
2            76.711767              81.158020       67.428967
3            77.102592              80.746258       69.917788
4            83.351499              83.816757       94.616977
5            77.289752              80.934412       68.740280
6            83.803279              83.814988       93.160377
7            76.629414              81.182722       67.039888
8            77.072464              80.966394       68.103075
9            83.839917              84.044699       95.287958
10           76.842711              80.744686       68.016402
11           83.359455              83.725724       95.109321
12           83.418349              83.848930       94.193947
13           83.274201              83.989488       95.329181
14           83.682222              83.955000       94.223219

    % Passing Reading  % Overall Passing
0           84.955199          56.657637
1           98.309706          92.529989
2           82.501733          54.365904
3           81.165919          55.568012
4           98.412698          91.787440
5           83.270384          55.121084
6           96.933962          89.858491
7           82.995101          54.618614
8           83.737549          55.197055
9           96.649215          91.204188
10          82.214249          54.305484
11          97.123130          91.081703
12          98.270537          91.846819
13          98.042705          91.992883
14          97.532249          91.194616

,School Name,School Type,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,[3124928],[628.0],77.048432,81.033963,69.139404,84.955199,56.657637
1,Cabrera High School,District,[1081356],[582.0],83.061895,83.975780,95.365322,98.309706,92.529989
2,Figueroa High School,Charter,[1884411],[639.0],76.711767,81.158020,67.428967,82.501733,54.365904
3,Ford High School,District,[1763916],[644.0],77.102592,80.746258,69.917788,81.165919,55.568012
4,Griffin High School,Charter,[917500],[625.0],83.351499,83.816757,94.616977,98.412698,91.787440

In [73]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

print(per_school_summary)
per_school_summary.head()

              School Name School Type  Total Budget  Budget per Student  \
0      Bailey High School    District       3124928               628.0
1     Cabrera High School    District       1081356               582.0
2    Figueroa High School     Charter       1884411               639.0
3        Ford High School    District       1763916               644.0
4     Griffin High School     Charter        917500               625.0
5   Hernandez High School     Charter       3022020               652.0
6      Holden High School     Charter        248087               581.0
7       Huang High School    District       1910635               655.0
8     Johnson High School     Charter       3094650               650.0
9        Pena High School     Charter        585858               609.0
10  Rodriguez High School     Charter       2547363               637.0
11    Shelton High School    District       1056600               600.0
12     Thomas High School    District       1043130               638.0
13     Wilson High School    District       1319574               578.0
14     Wright High School     Charter       1049400               583.0

    Average Math Score  Average Reading Score  % Passing Math  \
0            77.048432              81.033963       69.139404
1            83.061895              83.975780       95.365322
2            76.711767              81.158020       67.428967
3            77.102592              80.746258       69.917788
4            83.351499              83.816757       94.616977
5            77.289752              80.934412       68.740280
6            83.803279              83.814988       93.160377
7            76.629414              81.182722       67.039888
8            77.072464              80.966394       68.103075
9            83.839917              84.044699       95.287958
10           76.842711              80.744686       68.016402
11           83.359455              83.725724       95.109321
12           83.418349              83.848930       94.193947
13           83.274201              83.989488       95.329181
14           83.682222              83.955000       94.223219

    % Passing Reading  % Overall Passing
0           84.955199          56.657637
1           98.309706          92.529989
2           82.501733          54.365904
3           81.165919          55.568012
4           98.412698          91.787440
5           83.270384          55.121084
6           96.933962          89.858491
7           82.995101          54.618614
8           83.737549          55.197055
9           96.649215          91.204188
10          82.214249          54.305484
11          97.123130          91.081703
12          98.270537          91.846819
13          98.042705          91.992883
14          97.532249          91.194616

,School Name,School Type,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Bailey High School,District,3124928,628.0,77.048432,81.033963,69.139404,84.955199,56.657637
1,Cabrera High School,District,1081356,582.0,83.061895,83.975780,95.365322,98.309706,92.529989
2,Figueroa High School,Charter,1884411,639.0,76.711767,81.158020,67.428967,82.501733,54.365904
3,Ford High School,District,1763916,644.0,77.102592,80.746258,69.917788,81.165919,55.568012
4,Griffin High School,Charter,917500,625.0,83.351499,83.816757,94.616977,98.412698,91.787440

In [41]:
sorted_per_school_summary = per_school_summary.sort_values('% Overall Passing', ascending=False)
sorted_per_school_summary.reset_index(drop=True, inplace=True)

print(sorted_per_school_summary)
sorted_per_school_summary.head()

              School Name School Type Total Budget Budget per Student  \
0     Cabrera High School    District    [1081356]            [582.0]
1      Wilson High School    District    [1319574]            [578.0]
2      Thomas High School    District    [1043130]            [638.0]
3     Griffin High School     Charter     [917500]            [625.0]
4        Pena High School     Charter     [585858]            [609.0]
5      Wright High School     Charter    [1049400]            [583.0]
6     Shelton High School    District    [1056600]            [600.0]
7      Holden High School     Charter     [248087]            [581.0]
8      Bailey High School    District    [3124928]            [628.0]
9        Ford High School    District    [1763916]            [644.0]
10    Johnson High School     Charter    [3094650]            [650.0]
11  Hernandez High School     Charter    [3022020]            [652.0]
12      Huang High School    District    [1910635]            [655.0]
13   Figueroa High School     Charter    [1884411]            [639.0]
14  Rodriguez High School     Charter    [2547363]            [637.0]

    Average Math Score  Average Reading Score  % Passing Math  \
0            83.061895              83.975780       95.365322
1            83.274201              83.989488       95.329181
2            83.418349              83.848930       94.193947
3            83.351499              83.816757       94.616977
4            83.839917              84.044699       95.287958
5            83.682222              83.955000       94.223219
6            83.359455              83.725724       95.109321
7            83.803279              83.814988       93.160377
8            77.048432              81.033963       69.139404
9            77.102592              80.746258       69.917788
10           77.072464              80.966394       68.103075
11           77.289752              80.934412       68.740280
12           76.629414              81.182722       67.039888
13           76.711767              81.158020       67.428967
14           76.842711              80.744686       68.016402

    % Passing Reading  % Overall Passing
0           98.309706          92.529989
1           98.042705          91.992883
2           98.270537          91.846819
3           98.412698          91.787440
4           96.649215          91.204188
5           97.532249          91.194616
6           97.123130          91.081703
7           96.933962          89.858491
8           84.955199          56.657637
9           81.165919          55.568012
10          83.737549          55.197055
11          83.270384          55.121084
12          82.995101          54.618614
13          82.501733          54.365904
14          82.214249          54.305484

,School Name,School Type,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Cabrera High School,District,[1081356],[582.0],83.061895,83.975780,95.365322,98.309706,92.529989
1,Wilson High School,District,[1319574],[578.0],83.274201,83.989488,95.329181,98.042705,91.992883
2,Thomas High School,District,[1043130],[638.0],83.418349,83.848930,94.193947,98.270537,91.846819
3,Griffin High School,Charter,[917500],[625.0],83.351499,83.816757,94.616977,98.412698,91.787440
4,Pena High School,Charter,[585858],[609.0],83.839917,84.044699,95.287958,96.649215,91.204188

In [42]:
sorted_per_school_summary = per_school_summary.sort_values('% Overall Passing', ascending=True)
sorted_per_school_summary.reset_index(drop=True, inplace=True)

print(sorted_per_school_summary)
sorted_per_school_summary.head()

              School Name School Type Total Budget Budget per Student  \
0   Rodriguez High School     Charter    [2547363]            [637.0]
1    Figueroa High School     Charter    [1884411]            [639.0]
2       Huang High School    District    [1910635]            [655.0]
3   Hernandez High School     Charter    [3022020]            [652.0]
4     Johnson High School     Charter    [3094650]            [650.0]
5        Ford High School    District    [1763916]            [644.0]
6      Bailey High School    District    [3124928]            [628.0]
7      Holden High School     Charter     [248087]            [581.0]
8     Shelton High School    District    [1056600]            [600.0]
9      Wright High School     Charter    [1049400]            [583.0]
10       Pena High School     Charter     [585858]            [609.0]
11    Griffin High School     Charter     [917500]            [625.0]
12     Thomas High School    District    [1043130]            [638.0]
13     Wilson High School    District    [1319574]            [578.0]
14    Cabrera High School    District    [1081356]            [582.0]

    Average Math Score  Average Reading Score  % Passing Math  \
0            76.842711              80.744686       68.016402
1            76.711767              81.158020       67.428967
2            76.629414              81.182722       67.039888
3            77.289752              80.934412       68.740280
4            77.072464              80.966394       68.103075
5            77.102592              80.746258       69.917788
6            77.048432              81.033963       69.139404
7            83.803279              83.814988       93.160377
8            83.359455              83.725724       95.109321
9            83.682222              83.955000       94.223219
10           83.839917              84.044699       95.287958
11           83.351499              83.816757       94.616977
12           83.418349              83.848930       94.193947
13           83.274201              83.989488       95.329181
14           83.061895              83.975780       95.365322

    % Passing Reading  % Overall Passing
0           82.214249          54.305484
1           82.501733          54.365904
2           82.995101          54.618614
3           83.270384          55.121084
4           83.737549          55.197055
5           81.165919          55.568012
6           84.955199          56.657637
7           96.933962          89.858491
8           97.123130          91.081703
9           97.532249          91.194616
10          96.649215          91.204188
11          98.412698          91.787440
12          98.270537          91.846819
13          98.042705          91.992883
14          98.309706          92.529989

,School Name,School Type,Total Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Rodriguez High School,Charter,[2547363],[637.0],76.842711,80.744686,68.016402,82.214249,54.305484
1,Figueroa High School,Charter,[1884411],[639.0],76.711767,81.158020,67.428967,82.501733,54.365904
2,Huang High School,District,[1910635],[655.0],76.629414,81.182722,67.039888,82.995101,54.618614
3,Hernandez High School,Charter,[3022020],[652.0],77.289752,80.934412,68.740280,83.270384,55.121084
4,Johnson High School,Charter,[3094650],[650.0],77.072464,80.966394,68.103075,83.737549,55.197055

In [45]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

mscores_allgrades = merge_df.groupby(['school_name', 'grade'])['math_score'].mean().unstack()

column_order = ['9th', '10th', '11th', '12th']
mscores_allgrades = mscores_allgrades[column_order]

print(mscores_allgrades)

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [46]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

mscores_allgrades = merge_df.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()

column_order = ['9th', '10th', '11th', '12th']
mscores_allgrades = mscores_allgrades[column_order]

print(mscores_allgrades)

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [79]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Budget per Student"], spending_bins, labels=labels)

print(per_school_summary)

              School Name School Type  Total Budget  Budget per Student  \
0      Bailey High School    District       3124928               628.0
1     Cabrera High School    District       1081356               582.0
2    Figueroa High School     Charter       1884411               639.0
3        Ford High School    District       1763916               644.0
4     Griffin High School     Charter        917500               625.0
5   Hernandez High School     Charter       3022020               652.0
6      Holden High School     Charter        248087               581.0
7       Huang High School    District       1910635               655.0
8     Johnson High School     Charter       3094650               650.0
9        Pena High School     Charter        585858               609.0
10  Rodriguez High School     Charter       2547363               637.0
11    Shelton High School    District       1056600               600.0
12     Thomas High School    District       1043130               638.0
13     Wilson High School    District       1319574               578.0
14     Wright High School     Charter       1049400               583.0

    Average Math Score  Average Reading Score  % Passing Math  \
0            77.048432              81.033963       69.139404
1            83.061895              83.975780       95.365322
2            76.711767              81.158020       67.428967
3            77.102592              80.746258       69.917788
4            83.351499              83.816757       94.616977
5            77.289752              80.934412       68.740280
6            83.803279              83.814988       93.160377
7            76.629414              81.182722       67.039888
8            77.072464              80.966394       68.103075
9            83.839917              84.044699       95.287958
10           76.842711              80.744686       68.016402
11           83.359455              83.725724       95.109321
12           83.418349              83.848930       94.193947
13           83.274201              83.989488       95.329181
14           83.682222              83.955000       94.223219

    % Passing Reading  % Overall Passing Spending Ranges (Per Student)
0           84.955199          56.657637                      $585-630
1           98.309706          92.529989                         <$585
2           82.501733          54.365904                      $630-645
3           81.165919          55.568012                      $630-645
4           98.412698          91.787440                      $585-630
5           83.270384          55.121084                      $645-680
6           96.933962          89.858491                         <$585
7           82.995101          54.618614                      $645-680
8           83.737549          55.197055                      $645-680
9           96.649215          91.204188                      $585-630
10          82.214249          54.305484                      $630-645
11          97.123130          91.081703                      $585-630
12          98.270537          91.846819                      $630-645
13          98.042705          91.992883                         <$585
14          97.532249          91.194616                         <$585

In [92]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
per_school_summary["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Budget per Student"], spending_bins, labels=labels)

spending_math_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = per_school_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = per_school_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

spending_summary = pd.DataFrame({
    'Average Math Score': spending_math_scores,
    'Average Reading Score': spending_reading_scores,
    '% Passing Math': spending_passing_math,
    '% Passing Reading': spending_passing_reading,
    '% Overall Passing': overall_passing_spending,
})

print(spending_summary)
spending_summary.head()

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               94.519525          97.704655
$585-630                            88.538415          94.285061
$630-645                            74.889276          86.038110
$645-680                            67.961081          83.334345

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  91.393995
$585-630                               82.682742
$630-645                               64.021555
$645-680                               54.978918

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,94.519525,97.704655,91.393995
$585-630,81.899826,83.155286,88.538415,94.285061,82.682742
$630-645,78.518855,81.624473,74.889276,86.038110,64.021555
$645-680,76.997210,81.027843,67.961081,83.334345,54.978918

In [88]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Students': school_student_counts.values,
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

print(per_school_summary)

              School Name School Type  Total Students  Total Budget  \
0      Bailey High School    District            4799       3124928
1     Cabrera High School    District            1834       1081356
2    Figueroa High School     Charter            2886       1884411
3        Ford High School    District            2676       1763916
4     Griffin High School     Charter            1449        917500
5   Hernandez High School     Charter            4501       3022020
6      Holden High School     Charter             424        248087
7       Huang High School    District            2858       1910635
8     Johnson High School     Charter            4618       3094650
9        Pena High School     Charter             955        585858
10  Rodriguez High School     Charter            3902       2547363
11    Shelton High School    District            1738       1056600
12     Thomas High School    District            1619       1043130
13     Wilson High School    District            2248       1319574
14     Wright High School     Charter            1783       1049400

    Budget per Student  Average Math Score  Average Reading Score  \
0                628.0           77.048432              81.033963
1                582.0           83.061895              83.975780
2                639.0           76.711767              81.158020
3                644.0           77.102592              80.746258
4                625.0           83.351499              83.816757
5                652.0           77.289752              80.934412
6                581.0           83.803279              83.814988
7                655.0           76.629414              81.182722
8                650.0           77.072464              80.966394
9                609.0           83.839917              84.044699
10               637.0           76.842711              80.744686
11               600.0           83.359455              83.725724
12               638.0           83.418349              83.848930
13               578.0           83.274201              83.989488
14               583.0           83.682222              83.955000

    % Passing Math  % Passing Reading  % Overall Passing         School Size
0        69.139404          84.955199          56.657637   Large (2000-5000)
1        95.365322          98.309706          92.529989  Medium (1000-2000)
2        67.428967          82.501733          54.365904   Large (2000-5000)
3        69.917788          81.165919          55.568012   Large (2000-5000)
4        94.616977          98.412698          91.787440  Medium (1000-2000)
5        68.740280          83.270384          55.121084   Large (2000-5000)
6        93.160377          96.933962          89.858491       Small (<1000)
7        67.039888          82.995101          54.618614   Large (2000-5000)
8        68.103075          83.737549          55.197055   Large (2000-5000)
9        95.287958          96.649215          91.204188       Small (<1000)
10       68.016402          82.214249          54.305484   Large (2000-5000)
11       95.109321          97.123130          91.081703  Medium (1000-2000)
12       94.193947          98.270537          91.846819  Medium (1000-2000)
13       95.329181          98.042705          91.992883   Large (2000-5000)
14       94.223219          97.532249          91.194616  Medium (1000-2000)

In [90]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Students': school_student_counts.values,
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)

size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

size_summary = pd.DataFrame({
    'Average Math Score': size_math_scores,
    'Average Reading Score': size_reading_scores,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': size_overall_passing,
})

print(size_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       94.224168
Medium (1000-2000)           83.374684              83.864438       94.701757
Large (2000-5000)            77.746417              81.344493       71.714373

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               96.791588          90.531340
Medium (1000-2000)          97.929664          91.688113
Large (2000-5000)           84.860355          59.728334

In [91]:
import pandas as pd

school_data = pd.read_csv("schools_complete.csv")
student_data = pd.read_csv("students_complete.csv")

merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_names_and_types = school_data[['school_name', 'type']]

school_student_counts = merge_df.groupby('school_name')['student_name'].nunique()

school_total_budgets = merge_df.groupby('school_name')['budget'].first()
school_budget_per_capita = school_total_budgets / merge_df.groupby('school_name')['size'].max()

average_math_scores = merge_df.groupby('school_name')['math_score'].mean()
passing_math_count_ps = merge_df[merge_df["math_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_math_percentage_ps = (passing_math_count_ps / count_unique_values_ps) * 100

average_reading_scores = merge_df.groupby('school_name')['reading_score'].mean()
passing_reading_count_ps = merge_df[merge_df["reading_score"] >= 70].groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_reading_percentage_ps = (passing_reading_count_ps / count_unique_values_ps) * 100

passing_mr_df = merge_df[(merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)]
passing_mr_count_ps = passing_mr_df.groupby("school_name")["student_name"].count()
count_unique_values_ps = merge_df.groupby("school_name")["student_name"].nunique()
passing_mr_percentage_ps = (passing_mr_count_ps / count_unique_values_ps) * 100

per_school_summary = pd.DataFrame({
    'School Name': school_total_budgets.index,
    'School Type': school_names_and_types['type'],
    'Total Students': school_student_counts.values,
    'Total Budget': school_total_budgets.values,
    'Budget per Student': school_budget_per_capita.values,
    'Average Math Score': average_math_scores.values,
    'Average Reading Score': average_reading_scores.values,
    '% Passing Math': passing_math_percentage_ps.values,
    '% Passing Reading': passing_reading_percentage_ps.values,
    '% Overall Passing': passing_mr_percentage_ps.values,
})

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

type_summary = pd.DataFrame({
    'Average Math Score': average_math_score_by_type,
    'Average Reading Score': average_reading_score_by_type,
    '% Passing Math': average_percent_passing_math_by_type,
    '% Passing Reading': average_percent_passing_reading_by_type,
    '% Overall Passing': average_percent_overall_passing_by_type,
})

print(type_summary)

             Average Math Score  Average Reading Score  % Passing Math  \
School Type
Charter               80.324201              82.429369       81.197157
District              80.556334              82.643266       83.727836

             % Passing Reading  % Overall Passing
School Type
Charter              90.156505          72.879283
District             91.551757          76.327951